<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <user-card 
        name="Oliver Everly" 
        avatar="https://source.unsplash.com/150x170">
        <div slot="email">olivereverly@gmail.com</div>
        <div slot="phone">555-555-5555</div>
    </user-card>

    <user-card 
        name="Olivia Everly"
        avatar="https://source.unsplash.com/150x170">
        <div slot="email">oliviaeverly@gmail.com</div>
        <div slot="phone">333-333-3333</div>
    </user-card>
    
    <script src="user-card.js"></script>
    
</body>
</html>
